{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ reservation.Name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ reservation.firstname }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ reservation.mail }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ reservation.phoneNumber }}</td>
            </tr>
            <tr>
                <th>ContactDate</th>
                <td>{{ reservation.contactDate ? reservation.contactDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SendingDocDate</th>
                <td>{{ reservation.sendingDocDate ? reservation.sendingDocDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ reservation.comments }}</td>
            </tr>
            <tr>
                <th>NbMetres</th>
                <td>{{ reservation.nbMetres }}</td>
            </tr>
            <tr>
                <th>HasPortant</th>
                <td>{{ reservation.hasPortant ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsFCPEMember</th>
                <td>{{ reservation.FCPEMember ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PriceMetrage</th>
                <td>{{ reservation.priceMetrage }}</td>
            </tr>
            <tr>
                <th>NbMerguez</th>
                <td>{{ reservation.nbMerguez }}</td>
            </tr>
            <tr>
                <th>NbSaucisse</th>
                <td>{{ reservation.nbSaucisse }}</td>
            </tr>
            <tr>
                <th>NbPaniniDinde</th>
                <td>{{ reservation.nbPaniniDinde }}</td>
            </tr>
            <tr>
                <th>NbPaniniFromage</th>
                <td>{{ reservation.nbPaniniFromage }}</td>
            </tr>
            <tr>
                <th>NbPaniniJambon</th>
                <td>{{ reservation.nbPaniniJambon }}</td>
            </tr>
            <tr>
                <th>PriceFood</th>
                <td>{{ reservation.priceFood }}</td>
            </tr>
            <tr>
                <th>AssuranceReçu</th>
                <td>{{ reservation.assuranceRecu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CarteIdReçu</th>
                <td>{{ reservation.carteIdRecu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>InscriptionCheckedDate</th>
                <td>{{ reservation.inscriptionCheckedDate ? reservation.inscriptionCheckedDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsPayed</th>
                <td>{{ reservation.Payed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>MoyenPaiement</th>
                <td>{{ reservation.moyenPaiement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
